<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="about-container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">Let Me Tell You Who I Am</h3>
                </div>
            </div>
            <div class="about-fixed row text-center">
                {% for member in site.people %}
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="about-flex-item">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Hello There..!<br />
						I am Bharath Kumar S from Dr.AIT Bengaluru.<br />
						My father is an Officer in the Indian Air Force and I have done my schooling in various Kendriya Vidyalaya's across India.
						I am a self-taught <b>Android Developer</b> with over a year of experience in developing Android Applications.<b>I have 2 apps in my Google Play Store</b>. My first app is a Expenditure management app with <b>over 500 downloads and 4.8 Rating by 82 users.</b>
						<br />My second app was an event management app for Sanskruthi 2017, it was <b>built in 7 days by team of 4, sucessfully lead by me.</b> I am currently working on 2 apps, one for women safety. It is a unique concept which isn't in the market. And I am building an app for a tech startup company Ubuyquick.com
						<br />
						<br />I have experience with working on Android Framework, Java, SQL, NoSQL, Firebase, PHP, Servers and currently learning cloud on AWS. I love to play games and volleyball is my favourite outdoor game followed by cricket and football.
						I love technology and am always excited to read and know about them.
					</p>
                </div>
            </div>
        </div>
    </section>