<!-- Education Section -->
    <section id="{{ site.section2-id }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.section2 }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.section2-subhead }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>24 Arpil 1996</h4>
                                    <h5 class="subheading">First Cry</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We all start to learn and educate ourselves as soon as we came out to this world. Like, Learning to Cry, Breath, Laugh, Smile, Eat, and giving nightmare to our parents.!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2012</h4>
                                    <h5 class="subheading">Higher Secondary(10<sup>th</sup>)<br/> Kendriya Vidyalaya AFS,<br/> Jaisalmer, Rajasthan, IN</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>9.2 C.G.P.A.,(87.4%)</b><br/>
														Completed Higher Secondary with an aim to get into the Science stream and opt. for those subjects that I loved: <b>Physics &amp; Computers</b> &amp; subjects that I couldn't get rid of: <b>Mathematics and Chemistry.</b><br/>And I was Successful!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2014</h4>
                                    <h5 class="subheading">Senior Secondary(12<sup>th</sup>)<br/>Kendriya Vidyalaya ASC Center,<br/> Bengaluru, Karnataka, IN</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>82.0 %</b> [P.C.M.C.]<br/>
														Successfully Completed Senior Secondary, meantime falling in love with <b>Computer Science</b> and aimed to get into Engineering for pursuing my Under Graduation. &amp; I Succeded in getting into Dr. Ambedkar Inst. of Tech., Bengaluru, Karnataka, IN</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jun 2014 - Jul 2018</h4>
                                    <h5 class="subheading">Computer Science and Engineering(UG)<br/>Dr. Ambedkar Inst. of Tech.,<br/>Bengaluru, Karnataka, IN</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>8.08 C.G.P.A, (73.3%)</b><br/>
														Pursuing my UG to become a professional with high calibre strengths in driving superior operation success and strategic planning. Also to have a robust background in Software Development with compliance to best coding standards.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Learning Never
                                    <br>Stops.!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
